{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Share Link</title>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'file_sharing/form.css' %}">
    </head>
    <body>
        <h1>File Uploaded Successfully!</h1>
        <p>Share this link:</p>
        {% comment %} <img src="{{ shared_file.file.url }}" alt="Uploaded File"> {% endcomment %}
        {{ shared_file.file.url }}
        <p>
            <a href="{{ shared_file.file.url }}">http://127.0.0.1:8000{{ shared_file.file.url }}</a>
        </p>
    </body>
</html>
